@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

#header-logo {
  width: 150px;
  height: 150px;
}

body {
  background-color: #fbf1e3;
}

/* Form */
.journal-date,
.journal-concepts,
.journal-entry,
.journal-mood {
  border: 2px solid darkgrey;
}

.journal-form {
  display: flex;
  flex-direction: column;
  margin: 1em 5em;
  width: 50vw;
}

label {
  padding: 0.5em;
}

.journal-date {
  display: flex;
  align-items: center;
}

.journal-date input {
  margin: 1em;
}

.journal-concepts {
  display: flex;
  align-items: center;
}

.journal-concepts input {
  margin: 1em;
}

.journal-entry {
  display: flex;
  align-items: center;
}

.journal-entry textarea {
  margin: 1em;
}

.journal-mood {
  display: flex;
  align-items: center;
}

.journal-mood input {
  margin: 1em;
}

/* Journal Entries */
.journal-entries {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5em 5em;
  flex-grow: 1;
}

.notebook-icon {
  font-size: 3em;
  text-align: center;
  margin-top: 0.25em;
}

.mood {
  font-size: 2em;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer div {
  margin: 1em;
}

#footer-logo {
  width: 100px;
  height: 100px;
}

.github-logo {
  font-size: 1.3em;
}

a:link {
  text-decoration: none;
}
